@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #000;
  --primary: #b9ff66;
  --secondary: #f3f3f3;
  --tertiary: #191a23;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --font-sans: var(--font-geist-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  /* H1: 43px -> 60px */
  h1 {
    @apply text-[43px] lg:text-[60px] font-medium leading-[100%] tracking-normal;
  }

  /* H2: 36px -> 40px */
  h2 {
    @apply text-[36px] lg:text-[40px] font-medium leading-[100%] tracking-normal;
  }

  /* H3: 26px -> 30px */
  h3 {
    @apply text-[26px] lg:text-[30px] font-medium leading-[100%] tracking-normal;
  }

  /* H4: 18px -> 20px */
  h4 {
    @apply text-[18px] lg:text-[20px] font-medium leading-[100%] tracking-normal;
  }

  /* P (Default): 16px (LH 24px) -> 18px (LH 100%) */
  p,
  body {
    @apply text-[16px] leading-[24px] lg:text-[18px] lg:leading-[100%] font-normal tracking-normal;
  }
}
